@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="img_div"></div>
    <p class="quote">Study the scriptures carefully, deliberately. Ponder and pray over them. Scriptures are revelation, and they will bring added revelation.</p>
    <p class="author"><a target="_blank" href="https://www.churchofjesuschrist.org/study/general-conference/2010/04/the-blessing-of-scripture?lang=eng">
         The Blessing of Scripture</a>, Elder D. Todd Christofferson</p>
    
</div>
