@{
    ViewData["Title"] = "Home Page";
}

<div style="background-image: url(~/university.jpg);background-size: cover; background-repeat: no-repeat; background-position: center;" class="jumbotron">
    <h1 sytle="color: white;">Contoso University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Contoso University</h2>
        <p>
            Contoso University is one of the world's top universities.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Get Educated</h2>
        <p>This universiy's top goal is to provide the best education.</p>
        <p><a class="btn btn-default" href="#">Learn More &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img width="300" src="~/university.jpg" alt="university" />
    </div>
</div>