@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This app shares a list of favorite LDS movies. Click "Movies" in the menu to get started.</p>
</div>
